dt {
    font-weight: bold;
}

dd {
    margin-inline-start: 1rem;
}

.content_wrapper {
    margin: auto 0;
    padding: 2rem 0;
    background-size: cover;
    background-image: url("/img/bg.jpg");
    display: flex;
    justify-content: center;
}

.content {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.summary .name {
    font-size: 150%;
    font-weight: bold;
}

.profile img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.section_name {
    border-left: .5rem solid indigo;
    padding-left: .5rem;
    border-bottom: 1px solid indigo;
    padding-bottom: .1rem;
    color: midnightblue;
    font-weight: bold;
}
